In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("dados-historicos-ibovespa.csv", parse_dates=['Data'], date_format="%d.%m.%Y", dayfirst=True, thousands=".", decimal=",")
df

           Data  Último  Abertura  Máxima  Mínima   Vol.    Var%
0    2024-10-07  132018    131792  132943  131676  7,70M   0,17%
1    2024-10-04  131792    131672  131936  131156  7,05M   0,09%
2    2024-10-03  131672    133514  133514  131176  9,82M  -1,38%
3    2024-10-02  133515    132495  134922  132495  9,40M   0,77%
4    2024-10-01  132495    131817  133405  131817  9,84M   0,51%
...         ...     ...       ...     ...     ...    ...     ...
2722 2013-10-14   54171     53150   54197   52833  4,09M   1,92%
2723 2013-10-11   53150     53000   53301   52739  3,05M   0,29%
2724 2013-10-10   52997     52550   53133   52512  4,14M   0,85%
2725 2013-10-09   52548     52313   52836   51955  4,21M   0,45%
2726 2013-10-08   52312     52413   52556   51870  4,00M  -0,20%

[2727 rows x 7 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2727 entries, 0 to 2726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      2727 non-null   datetime64[ns]
 1   Último    2727 non-null   int64
 2   Abertura  2727 non-null   int64
 3   Máxima    2727 non-null   int64
 4   Mínima    2727 non-null   int64
 5   Vol.      2726 non-null   object
 6   Var%      2727 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 149.3+ KB

In [22]:
df.shape

(2727, 7)

In [23]:
df.describe()

,Data,Último,Abertura,Máxima,Mínima
count,2727,2727.000000,2727.000000,2727.000000,2727.000000
mean,2019-04-14 09:20:15.841584128,87075.191786,87046.847451,87845.792079,86273.993766
min,2013-10-08 00:00:00,37497.000000,37501.000000,38031.000000,37046.000000
25%,2016-07-13 12:00:00,57717.000000,57707.000000,58169.000000,57238.000000
50%,2019-04-18 00:00:00,92875.000000,92780.000000,93987.000000,91600.000000
75%,2022-01-17 12:00:00,112073.000000,112068.500000,113108.500000,110974.500000
max,2024-10-07 00:00:00,137344.000000,137349.000000,137469.000000,136664.000000
std,NaN,28085.590252,28079.846139,28223.829939,27931.727378

In [25]:
df.corr(numeric_only=True)

            Último  Abertura    Máxima    Mínima
Último    1.000000  0.998979  0.999550  0.999658
Abertura  0.998979  1.000000  0.999582  0.999373
Máxima    0.999550  0.999582  1.000000  0.999414
Mínima    0.999658  0.999373  0.999414  1.000000